#content{
    margin: 10px;
    margin-right: 10px;
}


.coffee{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.coconut{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

table, td, th {
    border: 1px groove #460e82 ;
    border-collapse: collapse;
    padding: 5px;
   
}